@import 'root';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: var(--font-size-01) !important;
  font-weight: var(--font-weight-01) !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  cursor: grabbing;
  trello-card {
    transform: rotate(5deg) !important;
    cursor: grabbing;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  trello-card {
    background-color: var(--disabled-01) !important;
    border: none;
  }
}
