@import 'root';

:host {
  main {
    display: block;
    height: 100% !important;
    width: 100vw;
    overflow: hidden;

    .resizable-content {
      width: 100vw;
      height: 100%;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      left: 0px;
      transition: width 250ms ease-in-out, left 250ms ease-in-out;

      &.hasOneSidenav {
        width: calc(100vw - var(--sidebar-width));

        toolbar {
          width: calc(100vw - var(--sidebar-width));
        }
      }

      &.hasTwoSidenav {
        width: calc(100vw - var(--sidebar-width) * 2);

        toolbar {
          width: calc(100vw - var(--sidebar-width) * 2);
        }
      }

      &.hasLeftSidenav {
        left: var(--sidebar-width);

        toolbar {
          left: var(--sidebar-width);
        }
      }
    }

    toolbar {
      width: 100%;
      position: fixed;
      z-index: 1000;
      left: 0px;
      transition: width 250ms ease-in-out, left 250ms ease-in-out;
    }

    ::ng-deep {
      mat-toolbar {
        padding: 0px 10px !important;
        background-color: var(--toolbar-background) !important;
        color: var(--text-02) !important;
      }
    }

    .route-content {
      position: relative;
      overflow: hidden;
      top: 64px;
      height: calc(100vh - 74px);
    }
  }

  .hasTwoSidenav~.right {
    right: -500px !important;
  }

  ::ng-deep generic-sidenav[side='right'] nav {
    @include right-sidebar-box-shadow;
  }

  ::ng-deep generic-sidenav[side='left'] nav {
    @include left-sidebar-box-shadow;
  }
}