@if (blocks$$ | async; as blocks) {
  <div
    class="allBlocks"
    #allBlocks
    cdkDropList
    cdkScrollable
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="blocks"
    [cdkDropListAutoScrollStep]="8"
    (cdkDropListDropped)="listDropped($event)"
  >
    @for (blockCard of blocks; track blockCard; let index = $index) {
      <div class="block" cdkDrag (cdkDragMoved)="onMove($event)">
        <div cdkDragHandle></div>
        <trello-card-block
          *cdkDragPlaceholder
          [isPreview]="true"
          [blockCard]="blockCard"
        ></trello-card-block>
        <trello-card-block
          [id]="blockCard.id"
          [blockCard]="blockCard"
        ></trello-card-block>
      </div>
    }
    <trello-add-new-block></trello-add-new-block>
  </div>
}
