:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url('../../../../libs/core/themes/trello-clone/assets/img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
