:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  width: 100%;

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
