.content {
  display: block;
  height: 100%;
  background-image: url('../../../../../../libs/core/themes/trello-clone/assets/img.jpg');
  background-position: center;
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: scroll;

  app-toolbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

  .sidenav {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: red;
    width: 250px;
    height: calc(100% - 64px);
  }

  ::ng-deep {
    mat-toolbar {
      padding: 0px 10px 0px 10px !important;
      background-color:var(--toolbar-background) !important;
      color: var(--text-01) !important;
    }
  }

  .routes {
    position: relative;
    top: 64px;
    height: calc(100% - 64px);
    overflow-x: hidden;
    width: 2050px;
  }
}
