@if (blocks$$ | async; as blocks) {
  <div
    class="allBlocks"
    #allBlocks
    cdkDropList
    cdkScrollable
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="blocks"
    [cdkDropListAutoScrollStep]="8"
    (cdkDropListDropped)="listDropped($event)"
  >
    @for (block of blocks; track block; let index = $index) {
      <div class="block" cdkDrag (cdkDragMoved)="onMove($event)">
        <div cdkDragHandle></div>
        <trello-card-block
          [id]="block.id"
          [block]="block"
          [isPreview]="true"
          *cdkDragPlaceholder
        ></trello-card-block>
        <trello-card-block [id]="block.id" [block]="block"></trello-card-block>
      </div>
    }
    <trello-add-new-block></trello-add-new-block>
  </div>
}
