@import 'root';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
  font-size: var(--font-size-01) !important;
  font-weight: var(--font-weight-01) !important;
  background-color: var(--background-02);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  cursor: grabbing;

  trello-card {
    transform: rotate(5deg) !important;
    cursor: grabbing;
  }

  trello-card-block {
    display: block;
    transform: rotate(5deg) !important;

    trello-card {
      transform: rotate(0deg) !important;
    }

    .card-list {
      position: static;
    }
  }
}

.cdk-drag-placeholder ~ trello-card-block {
  .card-list {
    position: static !important;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  trello-card {
    background-color: var(--disabled-01) !important;
    border: none;
  }
}
