<div class="header">
  <img src="assets/icons/icon-72x72.png" routerLink="./" />
  <span>Eu sou a Sidenav aberta</span>
  <mat-icon (click)="emitEvent()">keyboard_arrow_left</mat-icon>
</div>
<hr />
<div class="options">
  <mat-accordion>
    @for (item of displayedRoutes; track item) {
      <mat-expansion-panel appSelectedRoute [activedRoute]="item">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.title | titlecase }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panelContent">
          @for (child of item.children; track child) {
            <p
              appSelectedRoute
              [activedRoute]="child.path"
              [clickFunction]="emitEvent.bind(this)"
              [routerLink]="child.path"
              [isChild]="true"
              >
              {{ child.title | titlecase }}
            </p>
          }
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
