<ng-container *ngIf="blocks$$ | async as blocks">
  <div
    class="allBlocks"
    #allBlocks
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="blocks"
    [cdkDropListAutoScrollStep]="18"
    (cdkDropListDropped)="listDropped($event)"
  >
    @for(blockCard of blocks; track blockCard.name; let index = $index) {
    @defer(on viewport(allBlocks)) {
    <div class="block" cdkDrag (cdkDragMoved)="onMove()">
      <div cdkDragHandle></div>
      <trello-card-block
        *cdkDragPlaceholder
        [isPreview]="true"
        [blockCard]="blockCard"
      ></trello-card-block>
      <trello-card-block
        [id]="index"
        [blockCard]="blockCard"
      ></trello-card-block>
    </div>
    } @placeholder {
    <trello-card-block
      *cdkDragPlaceholder
      [isPreview]="true"
      [blockCard]="blockCard"
    ></trello-card-block>
    } }
    <trello-add-new-block></trello-add-new-block>
  </div>
</ng-container>
