<ng-container *ngIf="blocks$$ | async as blocks">
  <div
    class="allBlocks"
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="blocks"
    [cdkDropListAutoScrollStep]="18"
    (cdkDropListDropped)="listDropped($event)"
  >
    <div
      class="block"
      cdkDrag
      (cdkDragMoved)="onMove()"
      *ngFor="let blockCard of blocks; let index = index"
    >
      <div cdkDragHandle></div>
      <div *cdkDragPlaceholder>
        <trello-card-block
          [isPreview]="true"
          [blockCard]="blockCard"
        ></trello-card-block>
      </div>
      <trello-card-block
        [id]="index"
        [blockCard]="blockCard"
      ></trello-card-block>
    </div>
    <trello-add-new-block></trello-add-new-block>
  </div>
</ng-container>
