@import 'colors';
:host {
  ::ng-deep {
    th {
      background-color: $table-header !important;
    }

    tr td {
      background-color: var(--table-row) !important;
    }

    tr:nth-child(4n + 1) {
      & + tr {
        td {
          background-color: var(--table-selected-row) !important;
        }
      }
      td {
        background-color: var(--table-selected-row) !important;
      }
    }

    .ngx-pagination .current {
      background: var(--primary-color);
    }
  }

  form {
    margin-top: 20px;
  }
}
