@import 'colors';
:host {
  ::ng-deep {
    cdk-header-cell {
      background-color: $table-header !important;
    }
  
    cdk-cell{
      background-color: $table-row !important;
    }
  
    cdk-row:nth-child(odd) {
      cdk-cell {
          background-color: $table-selected-row !important;
      }
    }

    .ngx-pagination .current {
      background: var(--primary-color);
    }
  }

  form{
    margin-top: 20px;
  }
}
