@import 'colors';
:host {
  ::ng-deep {
    cdk-header-cell {
      background-color: $table-header !important;
    }

    cdk-row cdk-cell {
      background-color: var(--table-row) !important;
    }

    cdk-row:nth-child(4n + 1) {
      & + cdk-row {
        cdk-cell {
          background-color: var(--table-selected-row) !important;
        }
      }
      cdk-cell {
        background-color: var(--table-selected-row) !important;
      }
    }

    .ngx-pagination .current {
      background: var(--primary-color);
    }
  }

  form {
    margin-top: 20px;
  }
}
